.protocol {
    background: #F9E67F;

    .pro-title {
        text-align: center;
    }

    .pro-img {
        width: 100%;
    }

    .pro-des {
        margin        : 0 auto;
        width         : 50%;
        padding-bottom: 50px;
    }
}