.ctn {
    background-color: #1a27c9;
    margin-top      : -2px;

    .ctn-ctn {
        display        : flex;
        justify-content: space-around;
        flex-wrap      : wrap-reverse;
        align-items    : center;

        .ctn-title {
            padding: 25px;
            color  : #ffff;

            .ctn-left {
                margin-top: 20px;

                .ctn-web3 {
                    font-size: 3rem;
                }
            }


        }

        .img-left {
            img {
                width     : 95%;
                margin-top: 6rem;
            }
        }

        .ctn-bt {
            display   : flex;
            margin-top: 40px;

            .ctn-btn {
                display     : flex;
                width       : 175px;
                margin-right: 20px;

                img {
                    margin-top: 10px;
                }

                p {
                    margin: 7px;
                }

                .p {
                    margin: 4px 6px 4px 25px;
                }
            }

            //mobile
        }

        @media only screen and (max-width: 739px) {
            .ctn-bt {
                display  : flex;
                flex-wrap: wrap !important;

                .ctn-btn {
                    width        : 65%;
                    padding      : 15px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .web3 {
        background: #002592;

        .web3-title {
            display        : flex;
            justify-content: space-around;
            flex-wrap      : wrap;

            h2 {
                color: #ffff;
            }

            p {
                white-space: pre-line;
                color      : #ffff;
            }
        }

        //mobile
        @media only screen and (max-width: 739px) {}

        .web3-modal {
            width           : 80%;
            height          : auto;
            box-shadow      : 0px 12px 40px rgba(0, 0, 0, 0.1);
            margin          : 0 auto;
            z-index         : 2;
            background-color: #ffff;
            margin-top      : 40px;

            .w3-i {

                .web3-icon {
                    display        : flex;
                    justify-content: space-around;
                    padding-top    : 20px;
                    margin         : 45px 0px;
                    padding-bottom : 10px;

                    .icon1 {
                        display: flex;

                        img {
                            height: 100%;
                        }

                        p {
                            margin: 10px;
                        }
                    }
                }
            }

            //mobile
            @media only screen and (max-width: 739px) {
                .w3-i {
                    display        : flex;
                    justify-content: space-around;

                    .web3-icon {
                        flex-direction: column;
                        margin        : 0px;

                        .icon1 {
                            margin-left  : 10px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}


//mobile
@media only screen and (max-width: 739px) {}

// tab
@media only screen and (min-width: 740px) and (max-width:1023px) {}

// pc
@media only screen and (min-width: 1024px) {}