.header-ctn{
    background-color: #1A27C9;
    height: 70px;
    padding: 20px;
    display: flex;
    .header-icon{
        display: flex;
        .header-icon{
        }
        h2{
           color: #FFFFFF;
           margin-left: 10px;
       }
    }
    .header-nav{
        ul{
            display: flex;
            gap: 50px;
            margin-left: 20px;
            list-style: none;
            color: #FFFFFF;
            li{
                margin-top: 8px;
            }
        }
    }
    .header-btn{
        button{
            padding: 17px;
            filter: drop-shadow(0px 8px 24px rgba(1, 4, 22, 0.08));
            color: #010416;
            font-size: 17px;
            background-color: yellow;
            border: none;
            position: absolute;
             right: 10%;
        }
    }
}