.header-ctn {
    background-color: #1A27C9;
    height          : 70px;
    padding         : 20px;
    display         : flex;
    position        : fixed;
    z-index         : 10;
    width           : 100%;

    .header-icon {
        display: flex;

        .header-icon {}

        h2 {
            color      : #FFFFFF;
            margin-left: 10px;
        }
    }

    .navbar {
        width: 100%;

        .nav-icon {
            list-style     : none;
            color          : #FFFFFF;
            display        : flex;
            justify-content: space-around;
            align-items    : center;

            li {
                cursor : pointer;
                opacity: 0.8;
            }

            .header-btn {
                button {
                    padding         : 17px;
                    color           : #010416;
                    font-size       : 17px;
                    background-color: yellow;
                    border          : none;
                    margin-top      : -15px;

                }
            }

        }


    }

    .btn-respsi {
        height    : 40px;
        position  : fixed;
        right     : 10%;
        margin-top: 10px;
        display   : none;
    }

}

//mobile
@media only screen and (max-width: 739px) {
    .header-ctn {
        .navbar {
            position  : fixed;
            top       : 0;
            left      : 0;
            bottom    : 0;
            right     : 0;
            overflow  : auto;
            background: #1A27C9;

            .nav-icon {
                display       : flex;
                width         : 50%;
                height        : 60vh;
                flex-direction: column !important;
                position      : absolute;
                right         : 0;
                text-align    : center;
                padding       : 30px;
                right         : 0;
                left          : 0;
                margin        : 0 auto;
            }
        }

        .btn-respsi {
            height : 40px;
            display: block;
        }
    }
}