.roadmap {
    // padding-top: 100px;

    .roadmap-card {
        position: relative;


        .card {
            width           : 35vw;
            height          : 300px;
            box-shadow      : 0px 12px 40px rgba(0, 0, 0, 0.1);
            background-color: #ffff;
        }

        .card1 {
            margin : 0 auto;
            z-index: 0;

            div {
                width : 95%;
                margin: 0 auto;
            }

            p {
                float: right;
            }
        }

        .card2 {
            position: absolute;
            top     : 75%;
            right   : 15%;
            z-index : 2;
            height  : auto;

            .card-des {
                text-align: center;
            }

            .card-coin {
                display        : flex;
                justify-content: space-around;
            }

            button {
                margin-left  : 10px;
                padding      : 10px;
                margin-bottom: 20px;
            }
        }

        .card3 {
            position  : absolute;
            top       : 50%;
            left      : 20%;
            z-index   : 1;
            text-align: center;
            height    : auto;

            div {
                width: 60%;
            }
        }
    }

    //mobile
    @media only screen and (max-width: 739px) {
        .roadmap-card {
            position      : static;
            display       : flex;
            flex-direction: column;

            .card {
                margin  : 0;
                position: static;
            }

            .card1 {
                width     : 100%;
                height    : auto;
                text-align: center;
            }

            .card2 {
                width: 100%;

                button {
                    margin-left: 40px;
                }
            }

            .card3 {
                width: 100%;

                div {
                    width        : 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .decentralization {
        width           : 100%;
        background-color: #010416;

        .des {
            margin-left: 30px;
            padding-top: 20%;
            color      : #ffff;

            .bd {
                border-bottom: 2px solid #ffff;
                margin-top   : 40px;
                width        : 80%;
            }
        }

        .step {
            color          : #ffff;
            display        : flex;
            justify-content: space-around;

            .step-precious {
                margin-top: 40px;
            }

            .step-des {
                padding: 20px;

                .stepcarrd {
                    background: #F9E67F;
                    color     : #010416;
                    width     : 90%;
                    height    : 60px;
                    text-align: center;
                }

                .step1 {}

                .step2 {
                    margin-top   : 10px;
                    margin-bottom: 10px;
                    margin-left  : 20px;
                }

                .step3 {

                    margin-left: 30px;
                }
            }
        }

        //mobile
        @media only screen and (max-width: 739px) {
            .step {
                flex-wrap: wrap;

                .step-precious {
                    display: flex;

                    div {
                        margin-left: 20px;
                    }
                }
            }
        }

    }



}